# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\PROJECT\Eigen website app\Website Source Code and Work\Create React-Native app\React-native CLI\Client\React-Native\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
